.field-transport-city_rate {
    width: 200px;
}
.field-transport-intercity_rate{
    width: 200px;
}
.field-transport-passage_rate{
    width: 200px;
}
.form-control{

}
.field-transport-charge_start{
    display: none;
}
.field-transport-charge_end{
    display: none;
}